html {
    font-size: 16px;
}

ul {
    display: grid;
}

li {
    list-style: none;
    height: auto;
    width: 35rem;
}

a img {
    position: relative;
    height: auto;
    width: 35rem;
    
}

.authors li img {
    position: relative;
    height: auto;
    width: 5rem;
}